body{
    display: flex;
    justify-content: center;
}
.city-container{
    border: 1px solid #000000;
    max-height: 300px;
    overflow: scroll;
}
.city-container li{
    border-bottom: 1px solid black;
    margin: 0;
    padding: 1rem;
    cursor: pointer;
    list-style-type: none;
}
.searchBar{
    width: 278px;
    height: 2rem;
}
ul{
    margin: 0;
    padding: 0;
}
